.wow-page-layout {
  display: grid;
  grid-template-areas: 'header header header' 'sidebar-left main sidebar-right';
  grid-template-columns: 360px auto 360px;
  grid-template-rows: 80px auto;
}

.wow-header {
  grid-area: header;
}

.wow-sidebar-left {
  grid-area: sidebar-left;
  padding: rem(40px);
}

.wow-sidebar-right {
  grid-area: sidebar-right;
  padding: rem(40px);
}

.wow-main {
  grid-area: main;
  padding: rem(40px);
}